.description {
  padding: 100px 0 60px;
}

@media screen and (max-width: 1023px) {
  .description {
    padding: 80px 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .description {
    padding: 60px 0 40px;
  }
}
