.logo_place_header {
  margin: 32px 0 0 80px;
  z-index: 3;
}

@media screen and (max-width: 1023px) {
  .logo_place_header {
    width: 140px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 767px) {
  .logo_place_header {
    margin-left: 32px;
  }
}

@media screen and (max-width: 400px) {
  .logo_place_header {
    width: 100px;
    margin-left: 20px;
  }
}
