.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 648px;
  text-align: center;
  margin: 0 auto 70px;
}

@media screen and (max-width: 1023px) {
  .feynman__title {
    font-size: calc(100vw * 0.1);
    max-width: 500px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .feynman__title {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 400px) {
  .feynman__title {
    font-size: 52px;
  }
}
