.header__title {
  width: 60%;
  margin: 0 0 0 64px;
  font-size: calc(12px + 7vw);
  line-height: 0.95;
  font-weight: bold;
  z-index: 3;
}

@media screen and (max-width: 1023px) {
  .header__title {
    margin-left: 48px;
  }
}

@media screen and (max-width: 700px) {
  .header__title {
    margin: 0 0 32px 32px;
  }
}
